---
import type { Workshop } from "~/lib";

interface Props {
  data: Array<Workshop>;
}

const { data } = Astro.props;

const workshops = data.filter((workshop) => workshop.teachers);

function getLevelClass(_level: string) {
  const level = _level.toLowerCase().trim();
  switch (level) {
    case "open level":
      return "open-level";
    case "open level - intermediate":
      return "open-level";
    case "intermediate+":
      return "int-plus";
    case "intermediate - advanced":
      return "int-adv";
    case "advanced":
      return "advanced";
    case "standing":
      return "standing";
    case "pro":
      return "pro";
    default:
      return "open-level";
  }
}
---

<div class="workshops" style={`--workshops-columns: ${workshops.length};`}>
  {
    workshops.map((workshop) => {
      const levelClass = getLevelClass(workshop.level);
      return (
        <div class:list={{ workshop: true, [levelClass]: true }}>
          <span class="level">{workshop.level}</span>
          <div class="content">
            <span class="teachers">{workshop.teachers}</span>
            <h3>{workshop.name}</h3>
            {workshop.prereqs.trim() && (
              <div class="prereqs-container">
                <p class="prereqs-label">prereq:</p>
                <p class="prereqs">{workshop.prereqs}</p>
              </div>
            )}
          </div>
        </div>
      );
    })
  }
</div>

<style>
  .workshops {
    display: grid;
    flex: 1;
    gap: var(--space-4xs);
    grid-template-columns: repeat(var(--workshops-columns), 160px);
    grid-template-rows: repeat(4, auto);
    overflow: auto;
    scrollbar-width: none;
    margin: 0 calc(0px - var(--space-xs));
    padding: var(--space-3xs) var(--space-xs);
    padding-top: 0;
    scroll-behavior: smooth;
  }

  .workshop {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 2px;

    .content,
    .level {
      padding: var(--space-xs);
      width: 100%;
    }

    .level {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-transform: uppercase;

      font-family: var(--fira);
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
    }

    .content {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 3;

      overflow-wrap: break-word; /* Standard way to allow breaking long words */
      word-break: break-word; /* Fallback for older browsers */
      hyphens: auto;

      padding: var(--space-xs);
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      gap: 5px;

      .teachers {
        font-family: var(--fira);
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 18px;
      }

      .prereqs-container {
        padding-top: var(--space-2xs);
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      .prereqs-label {
        font-family: var(--fira);
        font-weight: 400;
        font-size: 14px;
      }

      .prereqs {
        font-family: var(--fira);
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        font-style: italic;
        text-transform: uppercase;
      }

      h3 {
        font-size: 17px;
        line-height: 17px;
        font-weight: 700;
        font-family: var(--fira);
        text-transform: uppercase;
      }
    }
  }

  .open-level {
    & .content,
    & .level {
      background: var(--color-green);
    }

    & .level {
      color: #085b32;
    }
  }
  .int-plus {
    & .content,
    & .level {
      background: var(--color-blue);
    }
    & .level {
      color: #1d5070;
    }
  }
  .int-adv {
    & .content,
    & .level {
      background: var(--color-pink);
    }
    & .level {
      color: #793f70;
    }
  }
  .advanced {
    & .content,
    & .level {
      background: var(--color-purple);
    }
    & .level {
      color: #2a285f;
    }
  }
  .pro {
    & .content,
    & .level {
      background: var(--color-pro);
    }
    & .level {
      color: #79281c;
    }
  }

  .standing {
    & .content,
    & .level {
      background: var(--color-yellow);
    }
    & .level {
      color: #725a03;
    }
  }
</style>
