---
import "@styles/reset.css";
import "@styles/global.css";
import "@styles/variables.css";
import "@fontsource/bbh-sans-bartle/400.css";
import "@fontsource-variable/bricolage-grotesque";
import "@fontsource/fira-sans-extra-condensed/400.css";
import "@fontsource/fira-sans-extra-condensed/500.css";
import "@fontsource/fira-sans-extra-condensed/600.css";
import "@fontsource/fira-sans-extra-condensed/700.css";
import bricolageUrl from "@fontsource-variable/bricolage-grotesque/files/bricolage-grotesque-latin-wght-normal.woff2?url";

import { pwaInfo } from "virtual:pwa-info";
import ReloadPrompt from "@components/ReloadPrompt.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const metaData = {
  keywords: "acroyoga, nynt, schedule, new year new trick, acro fusion",
  description: "The schedule for New Year New Trick 25/26 acroyoga event",
  imageType: "image/png",
  imageWidth: "587",
  imageHeight: "414",
  type: "website",
  siteName: "NYNT Schedule 25/26",
  twitterCard: "summary_large_image",
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL("/seo.jpg", Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta name="keywords" content={metaData.keywords} />
    <meta name="description" content={metaData.description} />
    <link rel="apple-touch-icon" href="/favicon.svg" />
    <link rel="mask-icon" href="/favicon.svg" color="#ab0f29" />
    <meta name="theme-color" content="#ab0f29" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={bricolageUrl}
      crossorigin="anonymous"
    />
    <title>{title}</title>
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content={metaData.type} />
    <meta property="og:site_name" content={metaData.siteName} />
    <meta property="og:description" content={metaData.description} />
    <meta property="og:title" content={title} />
    <meta property="og:image" content={socialImageURL} />
    <meta property="og:image:type" content={metaData.imageType} />
    <meta property="og:image:alt" content={title} />
    <meta property="og:image:width" content={metaData.imageWidth} />
    <meta property="og:image:height" content={metaData.imageHeight} />
    <meta name="twitter:card" content={metaData.twitterCard} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={metaData.description} />
    <meta name="twitter:image" content={socialImageURL} />
    <meta name="twitter:image:alt" content={title} />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Event",
        "name": "New Year New Trick 25/26",
        "description": "The schedule for New Year New Trick 25/26 acroyoga event",
        "startDate": "2025-12-27",
        "endDate": "2026-01-04",
        "eventStatus": "https://schema.org/EventScheduled",
        "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
        "organizer": {
          "@type": "Organization",
          "name": "NYNT",
          "url": "https://nynt-schedule.netlify.app/"
        },
        "url": "https://nynt-schedule.netlify.app/"
      }
    </script>
    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="5641c9d2-d78b-4191-ba57-8ee654fd8da2"></script>
  </head>
  <body>
    <slot />
    <ReloadPrompt />
  </body>
</html>
